*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}
.row{
    width: 100%;
}

.row::after{
    content: '';
    display: table;
    clear: both;
}

[class*="col-"]{
    float: left;
    padding: 10px;
}

[class*="col-"]{
    width: 100%;
}



/* header start */
header{
    background-color: #24a19c;
    padding: 0% 1%;
    width: 100%;
}
.nav-logo{
    text-align: center;  
}

.logo{
    text-align: center;
    height: 70px;
    width: 70px;
    line-height: 70px;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
}

.nav-menu ul li{
    text-align: center;
    list-style-type: none;
    padding: 15px;
    margin: 10px;
    background-color: teal;
    border-radius: 5px;
}

.nav-menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase; 
    font-family: 'Roboto', sans-serif; 
}

.nav-menu ul li:hover{
    background-color: turquoise;
}
/* header ends */