*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}
.row{
    width: 100%;
}

.row::after{
    content: '';
    display: table;
    clear: both;
}

[class*="col-"]{
    float: left;
    padding: 10px;
}

[class*="col-"]{
    width: 100%;
}



/* header start */
header{
    background-color: #24a19c;
    padding: 0% 1%;
    width: 100%;
}
.nav-logo{
    text-align: center;  
}

.logo{
    text-align: center;
    height: 70px;
    width: 70px;
    line-height: 70px;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
}

.nav-menu ul li{
    text-align: center;
    list-style-type: none;
    padding: 15px;
    margin: 10px;
    background-color: teal;
    border-radius: 5px;
}

.nav-menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase; 
    font-family: 'Roboto', sans-serif; 
}

.nav-menu ul li:hover{
    background-color: turquoise;
}
/* header ends */

/* banner section */
#banner-section{
    background-image: url(imeges/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
}

.banner-content{
    text-align: center;
    padding: 50px 10px;
}

.banner-content h1{
    background-color: rgba(255,255,0,0.884);
    width: 100%;
    margin: 15px auto;
    font-size: 3rem;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Handlee', cursive;
}

.banner-content p{
    background-color: rgb(0,128,0);
    font-size: 1.5rem;
    color: white;
    padding: 10px;
    width: 300px;
    margin: 15px auto;
    border: none;
    border-radius: 5px;
}

.btn{
    width: 160px;
    background-color: rgb(0,128,0);
    padding: 10px;
    color: white;
    border: none;
    font-size: 1.3rem;
    border-radius: 5px;
    text-transform: uppercase;
    transition: .4s;
}

.btn:hover{
    transform: scale(1.2);
}
/* banner section  ends*/

/* about section start*/
#about-section{
    padding: 15px 0;
    margin: 10px auto;
}
#about-section h1{
    text-align: center;
    font-size: 2rem;
}

#about-section p{
    text-align: center;
}

/* about section ends*/

/* food menu section start*/
.card{
    transition: 0.4s;
}
.card-img img{
    max-width: 100%; 
    height: auto;
    display: block;
}

.card-des{
    text-align: center;
}

.card-des h4{
    background-color:  rgb(0,128,0);
    padding: 10px;
    font-size: 1.2rem;
}

.card-des > p{
    background-color: rgb(165,164,164);
    padding: 10px;
    font-weight: bold;
    font-size: .8rem;
}

.card:hover{
    transform: scale(1.1);
}
/* food menu section ends*/